body {
  background-image: url('https://sozai-dx.com/bg/bg008.jpg');
  background-size: cover;
}
.dentsu_box {
	width: 70%;
  margin: 10px auto;
	text-align: center;
}
.dentsu_image {
  margin: 10px auto;
}